@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* color vars */
    --secondary-color: #9D9FA1;
    --bg-color: #0F0F10;
    --gradient-text: linear-gradient(to bottom, #9D9FA1, #3A3A3B);
    --card-bg: #323334;

}